@import url(https://fonts.googleapis.com/css?family=Varela+Round);

body {
  min-height: 500px;
  overflow: hidden;
  background: #788C7C;
  font-family: "Varela Round";
}
#lock {
  border-radius: 50%;
  background-color: #000;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 350px;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
}

#uplock {
  width: 150px;
  height: 150px;
  border: 30px solid rgba(0, 0, 0, 0.27);
  border-radius: 90px 90px 0 0;
  border-bottom: 0;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -270px;
}

#inlock {
  border-radius: 50%;
  background-color: #788C7C;
  width: 240px;
  height: 240px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -120px;
  margin-left: -120px;
}

#locker {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 3px;
  left: 50%;
  background-color: rgb(255,255,0);
  margin-left: -12.5px;
  transform: rotate(0deg);
  transform-origin: 12.5px 147px;
}

#key {
  border-radius: 4px;
  width: 10px;
  height: 25px;
  position: absolute;
  top: 3px;
  left: 50%;
  background-color: rgb(255,0,106);
  margin-left: -5px;
  transform: rotate(0deg);
  transform-origin: 5px 147px;
}

#level {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  line-height: 300px;
  text-align: center;
  z-index: 1;
  font-family: "Varela Round";
  font-weight: 300;
  letter-spacing: -5px;
  font-size: 150px;
  -webkit-user-select: none;
  color: rgba(255, 255, 255, 0.5);
}

body, #inlock {
  transition-duration: 300ms;
}

body.fail, body.fail #inlock {
  background-color: #842727;
}

@keyframes failer {
  0% {
    transform: rotate(5deg);
  }

  25% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(5deg);
  }

  75% {
    transform: rotate(0deg);
  }
}

@keyframes opener {
  10% {
    top: 180px;
  }

  75% {
    top: 180px;
  }

  100% {
    top: 80px;
  }
}

@keyframes toLeft {
  0% {
    left: 50%;
  }

  100% {
    left: -110%;
  }
}

@keyframes fromRight {
  0% {
    left: 110%;
  }

  100% {
    left: 50%;
  }
}

body.fail #lock {
  animation: failer 400ms;
}

body.levelUp #uplock {
  animation: opener 600ms;
  animation-fill-mode: forwards;
}

body.levelUp #lock {
  animation: toLeft 1s 0.65s ease, fromRight 0.7s 1.65s ease;
}

body.levelUp, body.levelUp #inlock {
  background-color: #209C6A;
}

body.levelUp #locker, body.fail #locker, body.levelUp #key, body.fail #key {
  display: none;
}

.about {
  position: absolute;
  bottom: 10px;
  right: 10px;
  left: 10px;
  color: rgba(255, 255, 255, 0.5);
}

.about p {
  margin: 0;
  padding: 0;
  float: left;
}

.about a {
  float: right;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
